* {
    box-sizing: border-box;
}

section {
    background: #d5f0fb;

    border: 1px solid #000000;
    height: 95vh;
    width: 95vw;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

}


.parent {
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.box {
    height: 200px;
    width: 200px;
    position: absolute;
}

.back {
    background: deepskyblue;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.back::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transform: translateZ(-1px);
    background: inherit;
}

.front {
    position: relative;
    background: yellow;
    transform-style: preserve-3d;
}

.front::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transform: translateZ(-1px);
    background: inherit;
}


.animation-b {

    animation-name: back;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.animation-f {

    animation-name: front;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.rotate {
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

@keyframes front {
    0% {
        transform: rotateZ(0deg);
    translateZ(- 30 px);
    }
    100% {
        transform: rotateZ(360deg) translateZ(-30px);
    }
}

@keyframes back {
    0% {
        transform: rotateZ(360deg);
    translateZ(30 px);
    }
    100% {
        transform: rotateZ(0deg) translateZ(30px);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg)
    }
    100% {
        transform: rotateY(360deg);
    }
}